DATA FRAMES

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(4,3),index='A B C D'.split(),columns='W X Y'.split()) # Creating column
df

          W         X         Y
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318
C -0.848077  0.605965 -2.018168
D  0.740122  0.528813 -0.589001

In [2]:
df['W'] # Showing column W
df[['W','Y']] # Pass a list of column names only

          W         Y
A  2.706850  0.907969
B  0.503826 -0.319318
C -0.848077 -2.018168
D  0.740122 -0.589001

In [3]:
df['new'] = df['W'] + df['Y'] # addition of two arrays
df

          W         X         Y       new
A  2.706850  0.628133  0.907969  3.614819
B  0.503826  0.651118 -0.319318  0.184508
C -0.848077  0.605965 -2.018168 -2.866245
D  0.740122  0.528813 -0.589001  0.151122

In [4]:
df['avg'] = (df['W'] + df['X'] +df['Y'])/3 #Finding average
df

          W         X         Y       new       avg
A  2.706850  0.628133  0.907969  3.614819  1.414317
B  0.503826  0.651118 -0.319318  0.184508  0.278542
C -0.848077  0.605965 -2.018168 -2.866245 -0.753427
D  0.740122  0.528813 -0.589001  0.151122  0.226645

In [5]:
df.drop('new',axis=1) #Removing Column

          W         X         Y       avg
A  2.706850  0.628133  0.907969  1.414317
B  0.503826  0.651118 -0.319318  0.278542
C -0.848077  0.605965 -2.018168 -0.753427
D  0.740122  0.528813 -0.589001  0.226645

In [6]:
df.drop('avg',axis=1,inplace=True) #dropping avg column from the table
df

          W         X         Y       new
A  2.706850  0.628133  0.907969  3.614819
B  0.503826  0.651118 -0.319318  0.184508
C -0.848077  0.605965 -2.018168 -2.866245
D  0.740122  0.528813 -0.589001  0.151122

In [7]:
df.drop('A',axis=0) # displaying result without row A

          W         X         Y       new
B  0.503826  0.651118 -0.319318  0.184508
C -0.848077  0.605965 -2.018168 -2.866245
D  0.740122  0.528813 -0.589001  0.151122

In [8]:
df.loc['B'] # location of column B

W      0.503826
X      0.651118
Y     -0.319318
new    0.184508
Name: B, dtype: float64

In [9]:
df.iloc[2] #index location

W     -0.848077
X      0.605965
Y     -2.018168
new   -2.866245
Name: C, dtype: float64

In [10]:
df.loc[['B','C'],['W','Y']] #location of [B C] , [W Y]

          W         Y
B  0.503826 -0.319318
C -0.848077 -2.018168

In [11]:
df>0 #Result in true or false of df greater than 0

       W     X      Y    new
A   True  True   True   True
B   True  True  False   True
C  False  True  False  False
D   True  True  False   True

In [12]:
df[df>0] # Values greater than 0

          W         X         Y       new
A  2.706850  0.628133  0.907969  3.614819
B  0.503826  0.651118       NaN  0.184508
C       NaN  0.605965       NaN       NaN
D  0.740122  0.528813       NaN  0.151122

In [13]:
df[df>1] # values greater than 1

         W   X   Y       new
A  2.70685 NaN NaN  3.614819
B      NaN NaN NaN       NaN
C      NaN NaN NaN       NaN
D      NaN NaN NaN       NaN

In [14]:
df[df['W']>-1] #column value greater than -1

          W         X         Y       new
A  2.706850  0.628133  0.907969  3.614819
B  0.503826  0.651118 -0.319318  0.184508
C -0.848077  0.605965 -2.018168 -2.866245
D  0.740122  0.528813 -0.589001  0.151122

In [15]:
df[df['W']>0]['Y'] #Finding vlaue W > 0 * Y

A    0.907969
B   -0.319318
D   -0.589001
Name: Y, dtype: float64

In [16]:
df[(df['W']>0) & (df['Y'] > -1)] #Finding vlaue W > 0 and y > -1

          W         X         Y       new
A  2.706850  0.628133  0.907969  3.614819
B  0.503826  0.651118 -0.319318  0.184508
D  0.740122  0.528813 -0.589001  0.151122

In [17]:
df.reset_index() # Reset index 0,1,2,....,n.

  index         W         X         Y       new
0     A  2.706850  0.628133  0.907969  3.614819
1     B  0.503826  0.651118 -0.319318  0.184508
2     C -0.848077  0.605965 -2.018168 -2.866245
3     D  0.740122  0.528813 -0.589001  0.151122

In [21]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )